body{
	background-color: #eeeaf2;
	color: #26123a;
}

#box{
	width: 800px;
	height: 600px;
	padding: 20px;
	text-align: center;
	margin: auto;
	font-family: 'Vollkorn', serif;
	text-transform: uppercase;
}

#title{
	font-size: 20px;
	letter-spacing: 1.5px;
	font-family: 'Vollkorn', serif;
}

#vbox{
	display: flex;
	align-items: center;
	align-content: center;
	height: 300px;
	margin-top: 60px;
	margin-bottom: 50px;
}

#vil{
	font-size: 35px;
	line-height: 50px;
	letter-spacing: 1.2px;
	font-weight: 900;
	font-style: italic;
}

#btn{
	font-size: 20px;
	width: 400px;
	margin: auto;
}

#btn:hover{
	text-decoration: underline;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#c{
	margin-top: 70px;
	font-size: 12px;
	font-family: 'Vollkorn', serif;
	text-transform: none;
	margin-bottom: 20px;
}

a{
	color: #26123a;
	font-weight: bold;
}