body{
	background-color: #e6eaf2;
	color: #1a2438;
}

#box{
	width: 800px;
	height: 500px;
	padding: 20px;
	text-align: center;
	margin: auto;
	margin-top: 70px;
}

#vil{
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 60px;
	height:400px;
}

#btn{
	border: none;
	background: none;
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	color: #526996;
	text-decoration: underline;
}

#btn:hover{
	color: #1a2438;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}